@use '@angular/material' as mat

:root
  interpolate-size: allow-keywords

:host
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end
  height: 100%

.registers
  display: flex
  flex-direction: column
  gap: 1rem

  & > *
    width: 100%

  .special-registers-container, .gpr-container
    overflow: hidden
    border-radius: 5px
    @include mat.elevation(2)
    display: grid
    grid-template-columns: 1fr
    background-color: transparent !important

  .gpr-container
    grid-template-columns: 1fr 1fr

  .special-registers-container, .gpr-container
    & > :not(:nth-last-child(-n + 2))
      border-bottom: 1px solid var(--border-subtle)

  .register
    display: grid
    grid-template-columns: auto 1fr
    border: 1px solid var(--border-subtle)
    border-radius: 5px
    overflow: hidden
    transition: border-color 0.3s ease-in-out

    &.changed
      border-color: var(--accent-sky) !important

      .index, .value
        font-weight: bold

    .index
      text-align: right
      width: 2rem
      padding: 0.25rem 0.5rem
      background-color: var(--bg-app)

    .value
      padding: .25rem .5rem
      white-space: nowrap
      box-sizing: content-box
      font-family: 'Fira Code', monospace
      font-size: .9rem
      font-weight: 300
      overflow: hidden
      display: inline-block
      transition: max-width 300ms ease-in-out, font-size 300ms cubic-bezier(.25, .8, .25, 1), background-color 300ms cubic-bezier(.25, .8, .25, 1), box-shadow 300ms cubic-bezier(.25, .8, .25, 1), transform 300ms cubic-bezier(.25, .8, .25, 1)
      will-change: max-width, font-size, background-color, box-shadow, transform

      &.special
        @include mat.elevation(2)
        margin: 0

  .special-registers
    .register
      .value
        max-width: 100% !important

  .value-inner
    display: inline-block
    white-space: nowrap

  .value, .index
    font-family: 'Fira Code', monospace
    font-size: .9rem
    font-weight: 300
    transition: font-size 300ms cubic-bezier(.25, .8, .25, 1), max-width 300ms ease-in-out, height 300ms cubic-bezier(.25, .8, .25, 1), background-color 300ms cubic-bezier(.25, .8, .25, 1), box-shadow 300ms cubic-bezier(.25, .8, .25, 1), transform 300ms cubic-bezier(.25, .8, .25, 1)
    will-change: font-size, max-width, height, background-color, box-shadow, transform

  #fType
    @include mat.elevation(2)
    border: none
    width: 100%

  @media screen and (min-height: 866px)
    .value, .index
      font-size: .9rem

  @media screen and (min-height: 906px)
    .value, .index
      font-size: 1rem
