<div class="registers {{ fType() }}">
  <div class="gpr">
    <div class="gpr-container">
      @for (r of this.registers().registersValue; track i; let i = $index) {
        <div [class.changed]="isChanged(`registersValue[${i}]`)" class="register">
          <div class="index">R{{ i }}</div>
          <div [ngClass]="fType()" [style.max-width]="tempName()" class="value">
            {{ r | format: fType() }}
          </div>
        </div>
      }
    </div>
  </div>

  <div class="special-registers">
    <div class="special-registers-container">
      @for (r of this.registers().getSpecialRegisters(); track i; let i = $index) {
        @if (r.isVisible) {
          <div [class.changed]="isChanged(`specialRegisters[${r.key}]`)" class="register">
            <div class="index" matTooltip="{{ r.tooltip }}">{{ r.label }}</div>
            <div [ngClass]="fType()" [style.max-width]="tempName()" class="value">
              {{ r.value | format: fType() }}
            </div>
          </div>
        }
      }
    </div>
  </div>

  <mat-form-field appearance="fill" subscriptSizing="dynamic">
    <mat-label>Format values</mat-label>
    <mat-select [(value)]="fType">
      <mat-option value="hex">Hexadecimal</mat-option>
      <mat-option value="dec">Decimal</mat-option>
      <mat-option value="oct">Octal</mat-option>
      <mat-option value="bin">Binary</mat-option>
    </mat-select>
  </mat-form-field>
</div>
