<mat-card>
  <body link="white" vlink="green">
  <h1 class="line">DLX-RISCV-simulator created by: </h1>
  <h2 class="line">
    <ul>
      <a href="assets/pdf/Tesi_Gabriele_Piazzi.pdf"><li matTooltip="Click here to view pdf">Gabriele Piazzi, AA 2021/22</li></a>
      <a href="assets/pdf/Tesi_Umberto_Laghi.pdf"><li matTooltip="Click here to view pdf">Umberto Laghi, AA 2021/22</li></a>
      <a href="assets/pdf/Tesi_Filippo_Comastri.pdf"><li matTooltip="Click here to view pdf">Filippo Comastri, AA 2020/21</li></a>
      <a href="assets/pdf/Tesi_Federico_Pomponii.pdf"><li matTooltip="Click here to view pdf">Federico Pomponii, AA 2019/20 </li></a>
      <li>Alessandro Foglia, AA 2018/19 </li>
      <a href="assets/pdf/Tesi_Fabrizio_Maccagnani.pdf"><li matTooltip="Click here to view pdf">Fabrizio Maccagnani, AA 2018/2019</li></a>
    </ul>
  </h2>
  <div style="text-align: center;">University of Bologna, Calcolatori Elettronici T, Stefano Mattoccia</div>
</body>
</mat-card>
