<mat-card appearance="outlined">
  <mat-card-header class="center-header">
    <mat-card-title>DLX-RISCV Simulator</mat-card-title>
    <mat-card-subtitle>Created by</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-action-list>
      <mat-list-item>
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon disabled-icon">person</mat-icon>
          Marco Tartaglione
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2025/26</span>
      </mat-list-item>

      <a mat-list-item href="assets/pdf/Tesi_Gabriele_Piazzi.pdf" target="_blank" matTooltip="Click here to view PDF">
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon">description</mat-icon>
          Gabriele Piazzi
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2021/22</span>
      </a>

      <a mat-list-item href="assets/pdf/Tesi_Umberto_Laghi.pdf" target="_blank" matTooltip="Click here to view PDF">
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon">description</mat-icon>
          Umberto Laghi
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2021/22</span>
      </a>

      <a mat-list-item href="assets/pdf/Tesi_Filippo_Comastri.pdf" target="_blank" matTooltip="Click here to view PDF">
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon">description</mat-icon>
          Filippo Comastri
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2020/21</span>
      </a>

      <a mat-list-item href="assets/pdf/Tesi_Federico_Pomponii.pdf" target="_blank" matTooltip="Click here to view PDF">
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon">description</mat-icon>
          Federico Pomponii
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2019/20</span>
      </a>

      <mat-list-item>
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon disabled-icon">person</mat-icon>
          Alessandro Foglia
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2018/19</span>
      </mat-list-item>

      <a mat-list-item href="assets/pdf/Tesi_Fabrizio_Maccagnani.pdf" target="_blank" matTooltip="Click here to view PDF">
        <span matListItemTitle class="title-with-icon">
          <mat-icon class="list-icon">description</mat-icon>
          Fabrizio Maccagnani
        </span>
        <span matListItemLine class="subtitle-year">A.A. 2018/19</span>
      </a>
    </mat-action-list>
  </mat-card-content>

  <mat-card-footer>
    <div class="footer-info">
      <span>University of Bologna</span>
      <span class="separator">•</span>
      <span>Calcolatori Elettronici T</span>
      <span class="separator">•</span>
      <a class="prof-link" href="https://www.unibo.it/sitoweb/stefano.mattoccia" target="_blank" matTooltip="Visit professor's web page">
        Prof. Stefano Mattoccia
        <mat-icon class="external-icon">open_in_new</mat-icon>
      </a>
    </div>
  </mat-card-footer>
</mat-card>
