<div mat-dialog-content>
  <div>
    <div style="display:inline-block;">
      <img style="background-color:white ; display: block; margin:0 auto;" ngSrc="{{urlImage}}" width="730px" height="500px" alt=""/>
    </div>
  </div>
  <br>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Current Value</mat-label>
        <input matInput type="text" name="currentVal" [value]="this.data.network.data + ''" readonly>
      </mat-form-field>
      <div style="display:inline-block; margin:10px;" >
        <mat-form-field appearance="outline">
          <mat-label>Size Port Bit</mat-label>
          <input matInput [(ngModel)]="this.data.network.dataSize" >
        </mat-form-field>
      </div>
      @if (data.network.clockType) {
        <div style="display:inline-block; margin:10px;">
          <mat-form-field appearance="fill">
            <mat-label>Clock Type</mat-label>
            <input matInput type="text" name="clkType" [value]="this.data.network.clockType" readonly>
          </mat-form-field>
        </div>
      }
    </div>
    @if (data.network.chipSelects.length > 0) {
      <div>
        <b>Chip-Select</b><br />
        @for (cs of data.network.chipSelects; track cs) {
          <span>
            {{cs.id}} - {{cs.address | format: 'hex'}}<br />
          </span>
        }
      </div>
    }
    <br />

  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onSubmit()">Ok</button>
  </div>
