<h1 mat-dialog-title style="width:900px">Memory values</h1>
<h2 align="center" mat-dialog-title>Stored value : {{ instruction }}</h2>

<mat-dialog-content width="1000px">
  <mat-grid-list cols="4" rowHeight="150px">
    @for (el of data.values; track el) {
      <mat-grid-tile>
        <mat-card><h4>0x{{ el.hexAddress }}</h4>
          <span>{{ el.value | formatByte: formatByteType }}@if (formatByteType === 'bin') {
            <sub>2</sub>
          }</span>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>

  <button (click)="viewPreInstr()" [disabled]="isInRange(this.iv - 4)" id="pre" mat-raised-button
          matTooltip="Previous addresses" matTooltipPosition="right" style="float: left;">
    <i class="fas fa-arrow-left"></i>
  </button>

  <button (click)="viewNextInstr()" [disabled]="isInRange(this.iv + 4)" id="next" mat-raised-button
          matTooltip="Next addresses" matTooltipPosition="left" style="float: right;">
    <i class="fas fa-arrow-right"></i>
  </button>
</mat-dialog-content>

<br>

<mat-button-toggle-group [(ngModel)]="formatByteType" id="fType" name="fType">
  <mat-button-toggle style="width: 50%;margin:10px" value="bin">Binary</mat-button-toggle>
  <mat-button-toggle style="width: 50%;margin:10px" value="hex">Hexadecimal</mat-button-toggle>
  <mat-button-toggle style="width: 50%;margin:10px" value="dec">Decimal</mat-button-toggle>
</mat-button-toggle-group>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>
