<mat-dialog-content>
  <img src="{{cloneDevice.imagePath}}" style="background-color:white" width="850px"/>
  <br/>
  <div>
    <div style="display:inline-block; margin:10px;">
      <mat-form-field appearance="fill">
        <mat-label>Clock Type</mat-label>
        <mat-select [(value)]="cloneDevice.clockType">
          <mat-option value="MEMWR*">MEMWR*</mat-option>
          <mat-option value="MEMRD*">MEMRD*</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="display:inline-block; margin:10px;">
      <mat-form-field appearance="fill">
        <mat-label>A_SET</mat-label>
        <mat-select [(value)]="cloneDevice.asyncSetSignal">
          <mat-option value="RESET">RESET</mat-option>

          @if (isLedLogicalNetwork(cloneDevice)) {
            <mat-option value="CS_A_SET_LED">CS_A_SET_LED</mat-option>
          } @else if (isStartLogicalNetwork(cloneDevice)) {
            <mat-option value="CS_A_SET_STARTUP">CS_A_SET_STARTUP</mat-option>
          }

          <mat-option value="0">0</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="display:inline-block; margin:10px;">
      <mat-form-field appearance="fill">
        <mat-label>A_RES</mat-label>
        <mat-select [(value)]="cloneDevice.asyncResetSignal">
          <mat-option value="RESET">RESET</mat-option>

          @if (isLedLogicalNetwork(cloneDevice)) {
            <mat-option value="CS_A_SET_LED">CS_A_SET_LED</mat-option>
          } @else if (isStartLogicalNetwork(cloneDevice)) {
            <mat-option value="CS_A_SET_STARTUP">CS_A_SET_STARTUP</mat-option>
          }

          <mat-option value="0">0</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <br/>
  @if (cloneDevice.chipSelects.length > 0) {
    <div>
      <b>Chip-Select</b><br/>
      @for (cs of cloneDevice.chipSelects; track cs) {
        <span>
          {{ cs.id }} - {{ cs.address | format: 'hex' }}<br/>
        </span>
      }
    </div>
  }
  <br/>

  @if (isLedLogicalNetwork(cloneDevice)) {
    <div>
      <b>LED</b><br/>
      @if (cloneDevice.led) {
        <span>ON</span>
      } @else {
        <span>OFF</span>
      }
    </div>
  }

  @if (isStartLogicalNetwork(cloneDevice)) {
    <div>
      <b>STARTUP</b><br/>
      @if (cloneDevice.startup) {
        <span>ON</span>
      } @else {
        <span>OFF</span>
      }
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="cloneDevice" color="primary">Confirm</button>
</mat-dialog-actions>
