<mat-toolbar id="navbar" color="primary">
  <button mat-icon-button matTooltip="Documentation" (click)="toggleSidenav()">
    @if (!this.isSidebarOpened()) {
      <span><i class="fas fa-book"></i></span>
    } @else {
      <span><i class="fas fa-book-open"></i></span>
    }
  </button>
  <a mat-button class="navigation-link" routerLink="/dlx" routerLinkActive="active">DLX</a>
  <a mat-button class="navigation-link" routerLink="/rv32i" routerLinkActive="active">RV32I</a>
  <span class="spacer"></span>
  <span><i class="fas fa-microchip"></i></span>
  <span id="title">DLX-RISCV Simulator</span>
  <span class="spacer"></span>
  <a mat-button class="navigation-link" routerLink="/about" routerLinkActive="active" [disableRipple]="true">About</a>
  <button mat-icon-button matTooltip="Theme" (click)="toggleTheme()">
    @if (this.currentTheme() === 'light') {
      <span><i class="fas fa-lightbulb"></i></span>
    } @else {
      <span><i class="far fa-lightbulb"></i></span>
    }
  </button>
</mat-toolbar>

<main class="basic-container mat-app-background">
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</main>
